*{
  padding: 0;
  scroll-behavior: smooth;
}

.profile{
    border-radius: 50%;
}

  h2:target {
    color: rgb(249, 198, 139);
    background: #810000;
  }

  .header{
    font-family: Times New Roman;
    background-color: rgba(94, 52, 32, 0.832);
    padding: 0 20px 20px;
    position:  relative;
    
  }

  .header2{
    font-family: Garamond;
    background-color: rgba(120, 89, 74, 0.832);   
   
  }

  nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
  }

  nav li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 20px;
  }

  nav li a {
    text-decoration: none;
    display: inline-block;
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
   }
   
   nav li a :before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
   nav li a:hover {
    background-color: rgb(233, 209, 156);
    color: #810000;
    box-shadow: 0 2px 0 2px #0d3b66;
   }
   
   nav li a:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
   nav li a:active {
    transform: scale(0.9);
   }

  .bottom{
    font-family: 'Courier New', Courier, monospace;
    background-color: #EEEBDD;
   
    
  }

  hr{
    border-width:1px;
    margin-bottom: 0;
}

  body{
    margin: 0;
    margin-top: 0;
    
  }

.bottom  ul li{
    list-style: none;
}

h4{
  font-weight: 20;
}

